* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: arial,sans-serif;
}

/* navbar */

nav {
    height: 40px;
    justify-content: center;
    padding-right: 20px;
    margin-top: 15px;
}

nav ul {
    display: flex;
    float: right;
    vertical-align: middle;
}

nav li {
    padding: 10px;
    list-style: none;
    font-size: 13px;
}

nav li a {
    text-decoration: none;
    color: rgb(0 0 0 / 87%)
}

nav li:hover {
    text-decoration: underline;
}

.right {
    display: flex;
    float: right;
    padding: 0 2px;
}

.navr {
    display: block;
    float: right;
    position: relative;
}

.navrh {
    display: flex;
    justify-content: center;
    width: 36px;
    height: 36px;
    margin-right: 8px;
}

.navrh:hover {
    background-color: rgba(60,64,67,.08);
    outline: none;
    border-radius: 50%;
}

.sfoto a:hover {
    background-color: rgba(60,64,67,.08);
    border-radius: 50%;
}

.foto {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.foto:hover {
    box-shadow: 0 1px 0 rgb(0 0 0 / 15%);
}

.dlogo {
    height:24px; 
    line-height:24px;
    width:24px;
    color: #5f6368;
    fill: currentColor;
    margin-top: 4px;
}


/* logo */

#image {
    text-align: center;
    margin-top: 5%;
}

/* search */

#search {
    margin-top: 1.5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid #dadce0;
    border-radius: 50px;
    height: 44px;
    width: auto;
    max-width: 584px;
}

#search:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.search {
    display: flex;
    justify-content: space-between;
}

.micon { 
    display: flex;
    flex: 0 0 auto;
    align-items: stretch;
    flex-direction: row;
    margin-right: 25px;
}

.keyboard {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    margin-bottom: 10px;
    padding: 0px 2px;
    width: 24px;
    line-height: 44px;
}

.mic {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 12px;
    padding-top: 5px;
    width: 24px;
    line-height: 44px;
}

.slogo {
    height:20px; 
    line-height:20px;
    width:20px;
    color: #9aa0a6;
    fill: currentColor;
}

.klogo {
    height:11px; 
    line-height:19px;
    width:19px;
}

.mlogo {
    height:25px; 
    line-height:25px;
    width:25px;
}

.sicon {
    margin: 10px 15px;
}

.sinput input{
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 16px;
    writing-mode: horizontal-tb;
    text-align: start;
    border: none;
    margin-top: 1%;
    margin-right: 10px;
    width: 450px;
}

/* button */

#bttn {
    margin-top: 1%;
    text-align: center;
}

#bttn a {
    text-decoration: none;
    color: #3c4043;
}

#bttn button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

#bttn button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

/* language */

#lng {
    margin-top: 1%;
    text-align: center;
    color: #4d5156;
    line-height: 28px;
    font-size: small;
    font-family: arial,sans-serif;
}

#lng a {
    text-decoration: none;
}

#lng a:hover {
    text-decoration: underline;
}

/* footer  */

footer {
    display: block;
    width: 100%;
    position:absolute;
    bottom:0;
    width:100%;
    background:#f2f2f2;
}

.hr {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    font-weight: 500;
    color: #70757a;
    font-family: arial,sans-serif;
}

#down {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 47px;
}

.ftru {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
}

.ftru ul {
    padding-left: 20px;
}

.ftr {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.dwc {
    display: flex;
    min-width: 30%;
    justify-content: flex-start;
    padding-left: 40px; 
}

.dwc a {
    text-decoration: none;
    color: #70757a;
}

.dwc a:hover {
    text-decoration: underline;
}

.dwli {
    display: flex;
    min-width: 30%;
    justify-content: center;
}

.dwli li {
    list-style: none;
    font-size: 14px;
    font-family: arial,sans-serif;
    padding: 15px;
}

.dwli a {
    text-decoration: none;
    color: #70757a;
}

.dwli a:hover {
    text-decoration: underline;
}

.carbon {
    display: block;
    white-space: nowrap;
    padding: 15px;
    font-size: 14px;
}

.clogo {
    height:13px; 
    line-height:13px;
    width:13px;
}

/* media */

@media only screen and (max-width:990px) {

    /* logo */

    #image {
        text-align: center;
        margin-top: 10%;
    }

    /* search */

    #search {
        width: 92%;
        margin-top: 5%;
    }

    .sinput input{
        background-color: transparent;
        margin: 0;
        padding: 0;
        color: rgba(0,0,0,.87);
        word-wrap: break-word;
        outline: none;
        display: flex;
        flex: 100%;
        -webkit-tap-highlight-color: transparent;
        height: 34px;
        font-size: 16px;
        writing-mode: horizontal-tb;
        text-align: start;
        border: none;
        margin-top: 1%;
        width: 300px;
        margin-right: 25px;
    }

    /* footer */

    footer {
        display: block;
        width: 100%;
        position:absolute;
        bottom:0;
        width:100%;
        background:#f2f2f2;
    }

    #down {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .ftru {
        padding-left: 0;
        justify-content: flex-start;
        min-width: 30%;
        order: 1;
    }

    .dwc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        order: 0;
        width: 100%;
    }

    .ftr {
        padding-right: 10px;
        justify-content: flex-end;
        min-width: 30%;
        order: 3;
    }
}


